dash==2.7.1
easy_biologic==0.3.4
impedance==1.4.1
imutils==0.5.4
matplotlib==3.3.4
nest_asyncio==1.5.1
numpy==1.19.5
pandas==1.2.4
plotly==5.3.1
pyModbusTCP==0.2.0
pyserial==3.5
PySimpleGUI==4.60.4
PyVISA==1.12.0
PyYAML==6.0
scipy==1.6.2
~pencv_python==4.5.4.58
